    <!DOCTYPE HTML>
    <html lang="en">
    <head>
    	<meta charset="utf-8">
    	<title>TravelGene</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<!-- Styles -->
    	<link href="/static/css/bootstrap.css" rel="stylesheet">
    	<link href="/static/css/style.css" rel="stylesheet">
    	<link href="/static/css/signinup.css" rel="stylesheet">
    	<link rel='stylesheet' id='prettyphoto-css'  href="/static/css/prettyPhoto.css" type='text/css' media='all'>
    	<link href="/static/css/fontello.css" type="text/css" rel="stylesheet">
    <!--[if lt IE 7]>
            <link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">  
            <![endif]-->
            <!-- Google Web fonts -->
            <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

            <style>
            	body {
            		/*padding-top: 60px;*/ /* 60px to make the container go all the way to the bottom of the topbar */padding-left:0;
            		padding-right: 0px;
            		padding-left:0;
            		padding-bottom: 0px;
            	}
            </style>
            <!-- <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"> -->
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
          <!-- Favicon -->
          <link rel="shortcut icon" href="/static/img/images.png">
          <script type="text/javascript" src="/static/js/jquery.js"></script>
          <script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
          <script type="text/javascript" src="/static/js/jquery.localscroll-1.2.7-min.js"></script>
          <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
          <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
          <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
          rel="stylesheet"/>


          <!--our system's js-->
          <script type="text/javascript" src="/static/js/Login.js"></script>
          <script type="text/javascript" src="/static/js/input_trip.js"></script>



          <!-- prettyPhoto Initialization -->
          <script type="text/javascript" charset="utf-8">

          	$(document).ready(function(){
          		$("a[rel^='prettyPhoto']").prettyPhoto();
          	});
          	$(function() {
          		$( "#goDate" ).datepicker({
              changeMonth:true,  //月份下拉列表
              changeYear: true,  //月份下拉列表
              minDate: "0d",   //可选最小日期
              maxDate: "+365d",  //可选最大日期
              // showOn: "both",       //点击图片和输入框都弹出面板
              // buttonImageOnly : true,
              // showButtonPanel: true, //显示面板底部按钮
              closeTextType:"close", //关闭按钮文字
              currentText: "today",   //返回今天按钮文字
              dateFormat:"yy-mm-dd",
              dayNamesMin:['Sun','Mo','Tu','We','Th','Fr','Sa']

          });
          	});


          	$(function() {
          		$( "#returnDate" ).datepicker({
              changeMonth:true,  //月份下拉列表
              changeYear: true,  //月份下拉列表
              minDate: "+1d",   //可选最小日期
              maxDate: "+365d",  //可选最大日期
              // showOn: "both",       //点击图片和输入框都弹出面板
              // buttonImageOnly : true,
              // showButtonPanel: true, //显示面板底部按钮
              closeTextType:"close", //关闭按钮文字
              currentText: "today",   //返回今天按钮文字
              dateFormat:"yy-mm-dd",
              dayNamesMin:['Sun','Mo','Tu','We','Th','Fr','Sa']

          });
          	});

          </script>

        <!--<script type="text/javascript" charset="utf-8">-->
              <!--window.fbAsyncInit = function() {-->
                <!--FB.init({-->
                  <!--appId      : '1596233553958439',-->
                  <!--xfbml      : true,-->
                  <!--version    : 'v2.2'-->
                <!--});-->
              <!--};-->

              <!--(function(d, s, id){-->
                 <!--var js, fjs = d.getElementsByTagName(s)[0];-->
                 <!--if (d.getElementById(id)) {return;}-->
                 <!--js = d.createElement(s); js.id = id;-->
                 <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
                 <!--fjs.parentNode.insertBefore(js, fjs);-->
               <!--}(document, 'script', 'facebook-jssdk'));-->


            <!--FB.ui({-->
                  <!--method: 'send',-->
                  <!--link: 'http%3A%2F%2Fwww.nytimes.com%2F2011%2F06%2F15%2Farts%2Fpeople-argue-just-to-win-scholars-assert.html'-->
                <!--});-->
        <!--</script>-->
      </head>
      <body>
      	<!--******************** NAVBAR ********************-->
      	<div class="navbar-wrapper" style="min-width:1280px;">
      		<div class="navbar navbar-inverse navbar-fixed-top">
      			<div class="navbar-inner">
      				<div class="container">
      					<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
      					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
      					<h1 class="brand"><a href="/index.html">Home</a></h1>
      					<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
      					<nav class="pull-right nav-collapse collapse">
      						<ul id="menu-main" class="nav">

      							<li id="siin"><a title="portfolio" onclick="openpopin()" >Sign in</a></li>
      							<li id="siup"><a title="services" onclick="openpopup()" href="/signup.html">Sign up</a></li>
								<li id="account"  style="display:none;"><a title="services"  href="/profilec.html">Account</a></li>

      						</ul>
      					</nav>
      				</div>
      				<!-- /.container -->
      			</div>
      			<!-- /.navbar-inner -->
      		</div>
      		<!-- /.navbar -->
      	</div>
      	<!-- /.navbar-wrapper -->
      	<div id="top"></div>
      	<!-- ******************** HeaderWrap ********************-->
      	<div id="headerwrap" style="min-width:1280px;">
      		<header class="clearfix">
      			
      			<div class="container" style="margin-left:20px; margin-right:20px; min-width:1280px;">
      				<div class="row">

      					<div class="span12" style="left: 10%;position: absolute;">
                <h1><span>Travel Gene</span></h1>
      						<h2>YOUR PERSONAL TRIP ADVISOR</h2>
                  <div class="span12" >
                      <form action="{{ url_for('loadTrip') }}" method = 'post'>
      						<input type="text" id="destination" name="destination" placeholder=" enter your destination" class="cform-text" size="40" title="your email" style ="width : 300px">
      						<input type="text"  class="picktime" name="goDate" id="goDate"  name="your-email" placeholder=" start date" class="cform-text" size="40" title="your email">
      						<input type="text" class="picktime" name="returnDate" id="returnDate" name="your-email" placeholder=" return date" class="cform-text" size="40" title="your email">
      						<!-- <a href="/CreateTrip.html" > -->
                            <a>
      						<!--<input type="submit" onclick="conveyTripInfo()"  value="begin a new trip" class="cform-submit" >-->
      						<input type="submit"  value="begin a new trip" class="cform-submit" >

                            </a>
                      </form>
                  </div>
							 </div>
      				</div>
<!--       				<div class="row">
      					<div class="span12">
      						<ul class="icon">
      							<li><a href="http://johnvublog.com/" target="_blank"><i class="icon-pinterest-circled"></i></a></li>
      							<li><a href="http://johnvublog.com/" target="_blank"><i class="icon-facebook-circled"></i></a></li>
      							<li><a href="http://johnvublog.com/" target="_blank"><i class="icon-twitter-circled"></i></a></li>
      							<li><a href="http://johnvublog.com/" target="_blank"><i class="icon-gplus-circled"></i></a></li>
      							<li><a href="http://johnvublog.com/" target="_blank"><i class="icon-skype-circled"></i></a></li>
      						</ul>
      					</div>
      				</div> -->
      			</div>
      		</header>
      	</div>

      	<div id="overlay" ></div>
      	<div class="modal-dialog sign-dialog" id="popupsign" tabindex="0" role="dialog" aria-labelledby=":r" style="left: 450.5px; top: 124px;  display:none; opacity:1;z-index: 9999;">

      		<div class="modal-dialog-title modal-dialog-title-draggable " id=":r"><span class="modal-dialog-title-text">Login</span><span class="modal-dialog-title-close" id="close" onclick="closepop()"></span>
      		</div>
      		<div class="modal-dialog-content">
      			<div id="js-sign-flow" class="sign-flow dialog" style="display: block;">
      				<!-- signin -->

      				<div class="view view-signin" id="view-signin" style="display: block; z-index:9999">

      					<div class="stitle">
<!--       						<a id="signin" class="js-signup signup-switch with-icon" style="cursor:pointer">Signup<i class="icon-sign icon-sign-arrow"></i></a> -->
      						<span class="js-title-label title-label">Login</span>
      					</div>
      					<div class="zu-side-login-box" >
                            <form id="login_form" action="/login" method="post">
                                <div class="input-wrap">
                                    <input required="" class="zg-form-text-input"
                                           name="email" id="username_in" placeholder="Email"  onblur="checkEmail()">
                                    <div id="username_error" class="log-error"></div>
                                </div>
                                <div class="input-wrap">
                                    <input required="" class="zg-form-text-input" maxlength="128"
                                           name="password" type="password" id="userpwd_in" onblur="checkPwd()" placeholder="Password">
                                    <div id="userpwd_error" class="log-error"></div>

                                </div>
                                <div class="captcha-holder"></div>
                                <div class="command">
                                    <div class="zg-right actions">
                                        <label class="zg-link-gray remember_me"><input type="checkbox" name="rememberme" checked="" value="y">Remember me </label>
                                        <!-- <span class="middot zg-gray">¡¤</span> -->
                                        <!--              <a class="zg-link-gray" target="_blank" href="/resetpassword"> Forget pwd</a> -->
                                        <!-- here login we don't need to check the inputbox anymore-->
                                        <input type="submit" id="sign_in_btn" class="zg-btn-blue" value="Login">
                                    </div>
                                </div>
                            </form>
      					</div>
      				</div>
      				<!-- singin -->
      				<!-- signup -->
      				<div class="view view-signup" id="view-signup" style="display: none; ">
      					<div class="stitle">
<!--       						<a id="signup" class="js-signin signin-switch with-icon" style="cursor:pointer">Login<i class="icon-sign icon-sign-arrow"></i></a> -->
      						<span class="js-title-label title-label">Sign Up FaceBook Account</span>
      					</div>
      					<div class="zu-side-login-box" id="sign-form-1" >
      						<div class="input-wrap">
								<img src="static/img/download.png" width="100" height="100">
      						</div>
      						<div class="input-wrap">
      							<input required="" class="zg-form-text-input" name="email" placeholder="User name"  id="username_up" onblur="checkUserName2()">
      							<div id="username2_error" class="log-error"></div>
      						</div>
      						<div class="input-wrap">
      							<input required="" class="zg-form-text-input" name="email" type="email" placeholder="Email"  id="email_up" onblur="checkEmail()">
      							<div id="email_error" class="log-error"></div>
      						</div>
      						<div class="command">
      							<div class="zg-right actions">
      								<input type="submit" id="sign_up_btn" onclick="getAccount()" class="zg-btn-blue" value="Connect"  >
      							</div>
      						</div>
      					</div>
      				</div>

      				<!-- signup -->

      			</div>
      		</div>
      		<div class="modal-dialog-bottom" id="signin" onclick="logfbpup()">
      			<div class ="modal-dialog-fb-bt">
                    <!--@author:zhiyuel-->
                    <!-- like and share plugin of facebook-->
                    <!--<div class="fb-like"-->
                      <!--data-share="true"-->
                      <!--data-width="450"-->
                      <!--data-show-faces="true">-->
                <a href="/fb.html" >fb login</a>
                <!--<div class="fb-login-button" data-max-rows="2" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>-->
      			<!--<span class="modal-dialog-log-fb">Login with Facebook</span><span class="modal-dialog-fbicon"  ></span>-->
      			</div>
      		</div>
      	</div>

		
      	<!-- Loading the javaScript at the end of the page -->
      	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
      	<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
      	<script type="text/javascript" src="/static/js/site.js"></script>

      </body>
      </html>
