<!--@author:zhiyuel-->
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" charset="utf-8">
        function abc(){
        alert("hello!");
    }
    </script>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<div id="fb-root"></div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
        console.log("connected!");
        //the following statement is critical
        localStorage.setItem('accessToken', response.authResponse.accessToken);
        testAPI();
    } else if (response.status === 'not_authorized') {
        console.log("not_authorized!");
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
        FB.login(function(response) {
//               console.log(response);
             }, {scope: 'user_friends,public_profile,email,user_photos'});
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
        console.log("already log out!");
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }

  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1596233553958439',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

//  Load the SDK asynchronously
  (function(d, s, id) {

  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1596233553958439&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);

}(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
        FB.api('/me/permissions', function(response) {
            console.log(JSON.stringify(response));
        });
      FB.api('/me', function(response) {
      console.log(response);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name +":"+response.id +" and your email is" +response.email
        });
      FB.api('/me/picture', function(response) {
            document.getElementById('profile').src =response['data']['url'];
        });

//         FB.login(function(response) {
//           console.log(response);
//         }, {scope: 'user_friends'});

//        FB.logout(function(response) {
//        // Person is now logged out
//          console.log("log out...");
//        });

       FB.api('/me/taggable_friends', function(response) {
            var friends=JSON.stringify(response);
//            console.log(friends);
            var div_friends=document.getElementById("friends");
           var head = document.createElement("h2");
           div_friends.appendChild(head);
           head.innerHTML="friend list";
           for(i=0;i<10;i++){
               var fbname = response['data'][i]['name'];
               var furl = response['data'][i]['picture']['data']['url'];
               var name=document.createElement("label");
               name.innerHTML=fbname;
               div_friends.appendChild(name);
               var elem = document.createElement("img");
               div_friends.appendChild(elem);
               elem.src = furl;
               elem.alt=fbname;
           }
       });

       }
//    $.ajax({
//      type: "POST",
//      contentType: "application/json; charset=utf-8",
//      url: "/blog/add/ajax",
//      data: JSON.stringify({title: 'hallo', article: 'test'}),
//      success: function (data) {
//        console.log(data.title);
//        console.log(data.article);
//      },
//      dataType: "json"
//    });


    function fbLogout() {
        FB.logout(function (response) {
            //Do what ever you want here when logged out like reloading the page
            window.location.reload();
        });
    }

</script>


<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<!--<div class="fb-login-button" data-max-rows="2" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>-->
<fb:login-button autologoutlink="true" scope="user_friends,public_profile,email,user_likes " onlogin="checkLoginState();">

</fb:login-button>



<!--<div class="fb-login-button" onclick="abc()" data-max-rows="3" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>-->

<div id="status">

</div>
<img id="profile" src=""/>



<div id="friends">

</div>

<!--<img id ="f_image" src="" />-->
<!--<button onclick="fbLogout()">log out</button>-->

</body>
</html>